@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
#presence {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: flex;
  max-width: 48rem;
}

#presence .users {
  width: 50%;
}

#presence .users ul {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#presence .users ul {
  list-style-type: none;
}

#presence .users ul li {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

#presence .users ul li .username {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.offline {
  background-color: red;
  height: 20px;
  width: 20px;
  margin-left: auto;
  border-radius: 32px;
}

.online {
  background-color: #66FF99;
  height: 20px;
  width: 20px;
  margin-left: auto;
  border-radius: 32px;
}